:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    /* Variables CSS */
    --color-oscuro: #04044d;
    --color-medio: #5d5db9;
    --color-claro: #bed3da;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh; /* dynamic viewport height */ 
}

header{
    background-color: var(--color-oscuro);
    color: white;
    text-align: center;
    font-size: 2rem;
}

img{
    width: 1.5rem;
}

label{
    user-select: none;
}


input[type="checkbox"]:not(:checked) + nav{
    /* display: none; */
    /* transition-duration: 1s;
    transition-property: height; */
    transition: 1s height;
    height: 0;
}
input[type="checkbox"]:checked + nav{
    background-color: var(--color-medio);
    height: 120px
}
input[type="checkbox"]{
    display: none;
}
nav{
    background-color: var(--color-medio);
    color: var(--color-claro);
}

nav a{
    text-decoration: none;
    color: inherit;
}